{
    "queues": [{
            "topic": "parcello_minute",
            "subscription": "parcello_minute",
            "duration": "1m"
        },
        {
            "topic": "parcello_five_minutes",
            "subscription": "parcello_five_minutes",
            "duration": "5m"
        }
    ]
}