{
    "project-id":"philemonworks",
    "subscription": "parzello_inbound",
    "queues": [
        {
            "topic": "parzello_minute",
            "subscription": "parzello_minute",
            "duration": "1m"
        },
        {
            "topic": "parzello_five_minutes",
            "subscription": "parzello_five_minutes",
            "duration": "5m"
        }
    ]
}